@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  /* Primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  /* overflow-x: hidden; */
}

li {
  list-style-type: none;
}

header {
  height: 100vh;
  background-image: url("images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
  font-weight: 600;
}

.hamburguer-icon {
  width: 25px;
  height: 25px;
  background-image: url("images/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.mobile-menu {
  right: 0;
  margin-right: 20px;
  position: absolute;
  margin-left: auto;
  width: 280px;
  height: 220px;
  padding: 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1000;
  transition: ease-in 0.2s;
}
.hamburguer-icon,
.mobile-menu {
  display: none;
}

.mobile-menu a {
  color: var(--very-dark-grayish-blue);
}

.mobile-menu li > button {
  width: 100px;
  padding: 15px;
  border: none;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--yellow);
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
}

header .menu p {
  margin-right: 15px;
}

a {
  color: var(--white);
  text-decoration: none;
}

header .menu > button {
  padding: 10px 15px;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--very-dark-desaturated-blue);
  transition: ease-in 0.2s;
}

header .menu > button:hover {
  color: var(--white);
  background-color: #0db4ff;
}

header h1 {
  color: var(--white);
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 0.8rem;
  font-size: 40px;
  top: 200px;
  position: relative;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

header .icon-arrow-down {
  top: 300px;

  position: relative;
  cursor: pointer;
  animation: moveUpAndDown 2s ease-in-out infinite;
}

@keyframes moveUpAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

header .icon-arrow-down > img {
  position: relative;
  bottom: 20px;
  margin-top: 20px;
  height: 80px;
  max-width: 36px;
  width: 100%;
}

.hero-section {
  display: flex;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 500px;
  padding: 20px;
}

.content h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--very-dark-desaturated-blue);
}

.content p {
  color: var(--very-dark-grayish-blue);
}

.content a {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
  text-decoration: none;
  text-transform: uppercase;
}

.content h1,
.content p,
.content a {
  margin-bottom: 25px;
}

.hero-image-egg {
  height: 600px;
  background-image: url("images/desktop/image-transform.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#first-learn {
  text-decoration: none;
  border-bottom: 2px solid var(--yellow);
}

#first-learn:hover {
  border-bottom: 4px solid var(--yellow);
}

#second-learn {
  text-decoration: none;
  border-bottom: 2px solid var(--soft-red);
}
#second-learn:hover {
  border-bottom: 4px solid var(--soft-red);
}

.hero-image-glass {
  height: 600px;
  background-image: url("images/desktop/image-stand-out.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-egg,
.hero-image-glass {
  flex: 1;
}

.graphic-design {
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.photography {
  height: 600px;
  background-image: url("images/desktop/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.img-content {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  align-items: center;
  max-width: 350px;
}

.img-content h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: var(--dark-cyan);
  text-align: center;
}

.img-content p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: var(--very-dark-grayish-blue);
}

.client-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.client-testimonials h2 {
  font-family: "Fraunces", sans-serif;
  letter-spacing: 0.2rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 50px;
  font-weight: 700;
}

.clients {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
  height: 350px;
  margin: 10px;
  text-align: center;
}

.client-img {
  overflow: hidden;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.client-img img {
  width: 100%;
  height: auto;
  display: block;
}

.client > p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: var(--very-dark-grayish-blue);
}

.client-name p:nth-child(1) {
  font-family: "Fraunces", sans-serif;
  color: var(--very-dark-desaturated-blue);
}

.client-name p:nth-child(2) {
  font-size: 15px;
  font-family: "Fraunces", sans-serif;
  color: var(--dark-grayish-blue);
}

.images-section {
  display: flex;
  flex-direction: row;
}

.images-section div {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}

.images-section div:nth-child(1) {
  background-image: url("images/desktop/image-gallery-milkbottles.jpg");
}

.images-section div:nth-child(2) {
  background-image: url("images/desktop/image-gallery-orange.jpg");
}

.images-section div:nth-child(3) {
  background-image: url("images/desktop/image-gallery-cone.jpg");
}

.images-section div:nth-child(4) {
  background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
}

footer {
  height: 260px;
  background-color: var(--dark-moderate-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
}

footer .menu {
  max-width: 250px;
  justify-content: space-around;
}

footer .menu a {
  font-family: "Barlow", sans-serif;
  color: var(--dark-cyan);
}

footer .menu a:hover {
  color: var(--white);
}

footer .social-medias a {
  margin: 0px 5px;
}

footer .social-medias a img:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg)
    brightness(111%) contrast(101%);
}

.attribution {
  background-color: var(--dark-moderate-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution a {
  color: var(--very-dark-desaturated-blue);
  margin: 0px 5px;
}

/* For typical mobile devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  header {
    background-image: url("images/mobile/image-header.jpg");
  }

  .nav-menu .menu {
    display: none;
  }

  .hamburguer-icon {
    display: flex;
  }

  header h1 {
    font-size: 30px;
    word-wrap: break-word;
    overflow: visible;
    animation: initial;
    white-space: initial;
  }

  header .nav-menu {
    padding: 15px 20px;
  }

  header .icon-arrow-down > img {
    height: 90px;
  }

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
  }

  section:nth-child(2),
  section:nth-child(3) {
    flex-direction: column;
  }

  .hero-image-egg,
  .hero-image-glass,
  .graphic-design,
  .photography {
    flex: initial;
    height: 400px;
  }

  .hero-image-egg {
    background-image: url("images/mobile/image-transform.jpg");
  }

  .hero-image-glass {
    background-image: url("images/mobile/image-stand-out.jpg");
  }

  .graphic-design {
    height: 600px;
    background-image: url("images/mobile/image-graphic-design.jpg");
  }

  .photography {
    height: 600px;
    background-image: url("images/mobile/image-photography.jpg");
  }

  .hero-content {
    height: 450px;
    flex: initial;
  }

  .content {
    text-align: center;
    align-items: center;
    padding: 40px;
  }

  .client-testimonials {
    height: 100%;
    justify-content: initial;
  }

  .client-testimonials h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .clients {
    flex-direction: column;
  }

  .client {
    justify-content: space-around;
    max-width: 350px;
    height: 300px;
    padding: 10px;
  }

  .images-section div:nth-child(1) {
    background-image: url("images/mobile/image-gallery-milkbottles.jpg");
  }

  .images-section div:nth-child(2) {
    background-image: url("images/mobile/image-gallery-orange.jpg");
  }

  .images-section div:nth-child(3) {
    background-image: url("images/mobile/image-gallery-cone.jpg");
  }

  .images-section div:nth-child(4) {
    background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");
  }

  .images-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .images-section div {
    height: 200px;
  }

  footer {
    height: 240px;
  }

  .attribution a {
    font-size: 14px;
    margin: 0px 3px;
  }
}

/* For mobile (landscape) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    background-image: url("images/mobile/image-header.jpg");
  }

  .nav-menu .menu {
    display: none;
  }

  .hamburguer-icon {
    display: flex;
  }

  header h1 {
    font-size: 30px;
    word-wrap: break-word;
    overflow: visible;
    animation: initial;
    white-space: initial;
  }

  header .nav-menu {
    padding: 15px 20px;
  }

  header .icon-arrow-down > img {
    height: 90px;
    bottom: initial;
  }

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
  }

  section:nth-child(2),
  section:nth-child(3) {
    flex-direction: column;
  }

  .hero-image-egg,
  .hero-image-glass,
  .graphic-design,
  .photography {
    flex: initial;
    height: 400px;
  }

  .hero-content {
    height: 450px;
    flex: initial;
  }

  .content {
    text-align: center;
    align-items: center;
    padding: 20px;
    max-width: 450px;
  }

  .content p {
    font-size: 20px;
  }

  .client-testimonials {
    height: 100%;
    justify-content: initial;
  }

  .client-testimonials h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .clients {
    flex-direction: column;
  }

  .client {
    justify-content: space-around;
    max-width: 400px;
    height: 300px;
    padding: 10px;
  }

  .images-section div:nth-child(1) {
    background-image: url("images/mobile/image-gallery-milkbottles.jpg");
  }

  .images-section div:nth-child(2) {
    background-image: url("images/mobile/image-gallery-orange.jpg");
  }

  .images-section div:nth-child(3) {
    background-image: url("images/mobile/image-gallery-cone.jpg");
  }

  .images-section div:nth-child(4) {
    background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");
  }

  .images-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .images-section div {
    height: 200px;
  }

  footer {
    height: 240px;
  }

  .attribution a {
    font-size: 14px;
    margin: 0px 3px;
  }
}

/* For tablet */

@media only screen and (min-width: 768px) and (max-width: 979px) {
  body {
    background-color: blue;
  }
}

/* For small desktop */

@media only screen and (min-width: 980px) and (max-width: 1023px) {
  body {
    background-color: green;
  }
}

/* For typical desktop */

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  body {
    background-color: yellow;
  }
}

/* For large desktop */

@media only screen and (min-width: 1200px) {
  body {
    background-color: purple;
  }
}
