@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  /* Primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 600px;
  background-image: url("images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
  font-weight: 600;
}

header .menu p {
  margin-right: 15px;
}

a {
  color: var(--white);
  text-decoration: none;
}

header .menu > button {
  width: 80px;
  padding: 10px;
  border: none;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--very-dark-desaturated-blue);
}

header .mid-header {
  color: var(--white);
  font-weight: 700;
  position: relative;
  bottom: 200px;
}

header .mid-header > h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  letter-spacing: 0.8rem;
  font-size: 40px;
  position: relative;
  bottom: 150px;
}

.mid-header h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--soft-red); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: 0.15em; Adjust as needed */
  max-width: 630px;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--soft-red);
  }
}

header .icon-arrow-down {
  position: relative;
  cursor: pointer;
  animation: moveUpAndDown 2s ease-in-out infinite;
}

@keyframes moveUpAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

header .icon-arrow-down > img {
  position: relative;
  bottom: 20px;
  margin-top: 20px;
  height: 80px;
}

.hero-section {
  display: flex;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 500px;
  padding: 20px;
}

.content h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--very-dark-desaturated-blue);
}

.content p {
  color: var(--very-dark-grayish-blue);
}

.content a {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: var(--very-dark-desaturated-blue);
  text-decoration: none;
}

.content h1,
.content p,
.content a {
  margin-bottom: 20px;
}

.hero-image-egg {
  height: 600px;
  background-image: url("images/desktop/image-transform.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#first-learn {
  text-decoration: none;
  border-bottom: 2px solid var(--yellow);
}

#second-learn {
  text-decoration: none;
  border-bottom: 2px solid var(--soft-red);
}

.hero-image-glass {
  height: 600px;
  background-image: url("images/desktop/image-stand-out.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-egg,
.hero-image-glass {
  flex: 1;
}

.graphic-design {
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.photography {
  height: 600px;
  background-image: url("images/desktop/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
}

.img-content h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: var(--dark-cyan);
  text-align: center;
}

.img-content p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: var(--very-dark-grayish-blue);
}

.img-content h1,
.img-content p {
  margin-bottom: 50px;
}

.client-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.client-testimonials h2 {
  font-family: "Fraunces", sans-serif;
  letter-spacing: 0.2rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 50px;
  font-weight: 700;
}

.clients {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
  height: 350px;
  padding: 20px;
  text-align: center;
}

.client-img {
  overflow: hidden;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.client-img img {
  width: 100%;
  height: auto;
  display: block;
}

.client > p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: var(--very-dark-grayish-blue);
}

.client-name p:nth-child(1) {
  font-family: "Fraunces", sans-serif;
  color: var(--very-dark-desaturated-blue);
}

.client-name p:nth-child(2) {
  font-family: "Fraunces", sans-serif;
  color: var(--dark-grayish-blue);
}

.images-section {
  display: flex;
  flex-direction: row;
}

.images-section div {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}

.images-section div:nth-child(1) {
  background-image: url("images/desktop/image-gallery-milkbottles.jpg");
}

.images-section div:nth-child(2) {
  background-image: url("images/desktop/image-gallery-orange.jpg");
}

.images-section div:nth-child(3) {
  background-image: url("images/desktop/image-gallery-cone.jpg");
}

.images-section div:nth-child(4) {
  background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
}

footer {
  height: 260px;
  background-color: var(--dark-moderate-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
}

footer .menu {
  max-width: 250px;
  justify-content: space-around;
}

footer .menu a {
  font-family: "Barlow", sans-serif;
  color: var(--dark-cyan);
}

footer .social-medias a {
  margin: 0px 5px;
}

.attribution {
  background-color: var(--dark-moderate-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution a {
  color: var(--very-dark-desaturated-blue);
  margin: 0px 5px;
}
